<%= simple_form_for @user, url: sign_up_path, html: { class: 'ui fluid form' } do |f| %>
  <h2>Sign up</h2>
  <%= f.input :username, placeholder: 'username', class: 'field' %>
  <div class="ui divider"></div>
  <%= f.input :password, placeholder: 'password', class: 'field' %>
  <p>
    <%= f.button :submit, class: 'ui primary button' %>
  </p>
<% end %>
